Create csv file with all months combined

In [1]:
import pandas as pd

In [2]:
october = pd.read_csv("oct21.csv")
november = pd.read_csv("nov21.csv")
december = pd.read_csv("dec21.csv")
january = pd.read_csv("jan22.csv")
february = pd.read_csv("feb22.csv")
march = pd.read_csv("mar22.csv")
april = pd.read_csv("apr22.csv")
may = pd.read_csv("may22.csv")
june = pd.read_csv("jun22.csv")
july = pd.read_csv("jul22.csv")
august = pd.read_csv("aug22.csv")
september = pd.read_csv("sep22.csv")

C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  october = pd.read_csv("oct21.csv")
C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  november = pd.read_csv("nov21.csv")
C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  december = pd.read_csv("dec21.csv")
C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  january = pd.read_csv("jan22.csv")
C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  february = pd.read_csv("feb22.csv")
C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  march = pd.read_csv("mar22.csv")
C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:7: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  april = pd.read_csv("apr22.csv")
C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:8: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  may = pd.read_csv("may22.csv")
C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:9: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june = pd.read_csv("jun22.csv")
C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:10: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  july = pd.read_csv("jul22.csv")
C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:11: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  august = pd.read_csv("aug22.csv")
C:\Users\zachr\AppData\Local\Temp\ipykernel_2568\3195981189.py:12: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  september = pd.read_csv("sep22.csv")

In [3]:
oct_filtered = october.sample(10000)
nov_filtered = november.sample(10000)
dec_filtered = december.sample(10000)
jan_filtered = january.sample(10000)
feb_filtered = february.sample(10000)
mar_filtered = march.sample(10000)
apr_filtered = april.sample(10000)
may_filtered = may.sample(10000)
jun_filtered = june.sample(10000)
jul_filtered = july.sample(10000)
aug_filtered = august.sample(10000)
sep_filtered = september.sample(10000)

In [4]:
year_df = pd.concat([oct_filtered, nov_filtered, dec_filtered, jan_filtered, feb_filtered, mar_filtered, apr_filtered,
                    may_filtered, jun_filtered, jul_filtered, aug_filtered, sep_filtered])

In [5]:
year_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2065890,BF41FEA70D095E12,electric_bike,2021-10-20 17:59:31,2021-10-20 18:20:06,E 75 St & 3 Ave,6991.12,E 89 St & York Ave,7204.08,40.771129,-73.957723,40.777945,-73.946041,casual
471325,F6724CC73E519D1C,classic_bike,2021-10-14 17:54:38,2021-10-14 18:09:09,E 48 St & 5 Ave,6626.01,W 30 St & 10 Ave,6459.07,40.757246,-73.978059,40.752694,-74.002353,member
96563,0379BEE8EE31264C,docked_bike,2021-10-23 21:06:27,2021-10-23 21:23:49,Hicks St & Montague St,4645.09,Clinton St & Tillary St,4748.07,40.695128,-73.995951,40.696233,-73.991421,casual
239213,994F44FABC6D20E6,classic_bike,2021-10-21 08:48:06,2021-10-21 09:02:49,W 15 St & 6 Ave,5989.02,W 48 St & Rockefeller Plaza,6667.1,40.738046,-73.996430,40.757936,-73.979603,member
1372275,7B5CC8014BFFE809,classic_bike,2021-10-13 15:00:51,2021-10-13 15:08:26,Broadway & W 41 St,6560.01,Broadway & W 25 St,6173.08,40.755136,-73.986580,40.742869,-73.989186,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120993,AB8F10DDC7C39655,electric_bike,2022-09-28 16:03:08,2022-09-28 16:15:16,Greenwich St & Perry St,5922.04,Bleecker St & Crosby St,5679.08,40.734980,-74.006970,40.726156,-73.995102,member
84337,FF8157ADEA4F3BAE,classic_bike,2022-09-19 16:32:19,2022-09-19 16:41:58,E 20 St & Park Ave,6055.08,8 Ave & W 38 St,6526.05,40.738083,-73.987403,40.754610,-73.991770,member
389943,E1AACC25ABD293BD,classic_bike,2022-09-06 09:35:32,2022-09-06 09:45:31,W 38 St & 9 Ave,6569.1,Broadway & E 21 St,6098.10,40.755843,-73.994029,40.739888,-73.989586,member
2407742,84954C5FCD0CC485,classic_bike,2022-09-26 13:17:50,2022-09-26 13:22:01,6 Ave & W 45 St,6593.15,8 Ave & W 52 St,6816.07,40.756281,-73.981940,40.763707,-73.985162,member
2220060,7DC966332E67147B,electric_bike,2022-09-05 11:17:44,2022-09-05 11:26:18,Clinton St & 4 Place,4119.04,Sigourney St & Columbia St,3940.04,40.678356,-74.000145,40.672672,-74.008795,casual

In [6]:
year_df_cleaned = year_df.dropna()

In [7]:
year_df_cleaned

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2065890,BF41FEA70D095E12,electric_bike,2021-10-20 17:59:31,2021-10-20 18:20:06,E 75 St & 3 Ave,6991.12,E 89 St & York Ave,7204.08,40.771129,-73.957723,40.777945,-73.946041,casual
471325,F6724CC73E519D1C,classic_bike,2021-10-14 17:54:38,2021-10-14 18:09:09,E 48 St & 5 Ave,6626.01,W 30 St & 10 Ave,6459.07,40.757246,-73.978059,40.752694,-74.002353,member
96563,0379BEE8EE31264C,docked_bike,2021-10-23 21:06:27,2021-10-23 21:23:49,Hicks St & Montague St,4645.09,Clinton St & Tillary St,4748.07,40.695128,-73.995951,40.696233,-73.991421,casual
239213,994F44FABC6D20E6,classic_bike,2021-10-21 08:48:06,2021-10-21 09:02:49,W 15 St & 6 Ave,5989.02,W 48 St & Rockefeller Plaza,6667.1,40.738046,-73.996430,40.757936,-73.979603,member
1372275,7B5CC8014BFFE809,classic_bike,2021-10-13 15:00:51,2021-10-13 15:08:26,Broadway & W 41 St,6560.01,Broadway & W 25 St,6173.08,40.755136,-73.986580,40.742869,-73.989186,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120993,AB8F10DDC7C39655,electric_bike,2022-09-28 16:03:08,2022-09-28 16:15:16,Greenwich St & Perry St,5922.04,Bleecker St & Crosby St,5679.08,40.734980,-74.006970,40.726156,-73.995102,member
84337,FF8157ADEA4F3BAE,classic_bike,2022-09-19 16:32:19,2022-09-19 16:41:58,E 20 St & Park Ave,6055.08,8 Ave & W 38 St,6526.05,40.738083,-73.987403,40.754610,-73.991770,member
389943,E1AACC25ABD293BD,classic_bike,2022-09-06 09:35:32,2022-09-06 09:45:31,W 38 St & 9 Ave,6569.1,Broadway & E 21 St,6098.10,40.755843,-73.994029,40.739888,-73.989586,member
2407742,84954C5FCD0CC485,classic_bike,2022-09-26 13:17:50,2022-09-26 13:22:01,6 Ave & W 45 St,6593.15,8 Ave & W 52 St,6816.07,40.756281,-73.981940,40.763707,-73.985162,member
2220060,7DC966332E67147B,electric_bike,2022-09-05 11:17:44,2022-09-05 11:26:18,Clinton St & 4 Place,4119.04,Sigourney St & Columbia St,3940.04,40.678356,-74.000145,40.672672,-74.008795,casual

In [12]:
station_df = year_df_cleaned[year_df_cleaned["start_station_name"] == "Station demo"]
station_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
565740,A34A98D200E500A8,classic_bike,2021-11-21 18:38:28,2021-11-21 18:39:22,Station demo,SYS052,Station demo,SYS052,40.604017,-74.019709,40.604017,-74.019709,member
565209,B56A367A772537D2,docked_bike,2021-11-22 13:09:16,2021-11-22 13:10:05,Station demo,SYS052,Station demo,SYS052,40.604017,-74.019709,40.604017,-74.019709,casual

In [ ]:
year_df_cleaned.to_csv("year.csv")